*.swp
*~
*.o
*.a
*.edf
*.bit
*.log
*.recordref
*.recordref_modgen
*.rpt
*.fdc
*.jou
*.areasrr
*.prs
*.bak
*.dcp
*.cmi
*.cmx
*.elf
*.dis
*.siz
*.s19
*.rec
synplify/synlog.*
synplify/rev_1/synlog
synplify/rev_1/syntmp
synplify/rev_1/synwork
synplify/rev_1/dm
synplify/rev_1/*.txt
synplify/rev_1/*.htm
synplify/rev_1/par_2/*.txt
synplify/rev_1/par_2/data_post_par.*
software/bootstrap/data.mem*
software/bootstrap/sdcard.*
software/bootstrap/code.mem*
software/tester/tester
vivado/minion_top.cache
vivado/minion_top.hw
vivado/minion_top.runs
vivado/minion_top.sim
vivado/vivado_pid*
romgen/bigromgen
romgen/bigromtest
romgen/romgen

